<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 연결 확인 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name=".Activity_signup"
            android:exported="false" />
        <activity
            android:name=".Activity_foodinfo"
            android:exported="true" />
        <activity
            android:name=".WebViewActivity"
            android:exported="true" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="qcjaqmpcpz" />

        <activity
            android:name=".ActivityMarketInfo"
            android:exported="true" />
        <activity
            android:name=".Activity_needInfo"
            android:exported="true" />
        <activity
            android:name=".MainScreen"
            android:exported="true" />
        <activity
            android:name=".ActivityLogin"
            android:exported="true">
            <!-- App 실행시 가장 먼저 실행되는 Activity 다른언어의 경우 main()격 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>